@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: "ReadexPro Regular";
	src:url("Font/ReadexPro-Regular.ttf")
}

*{
	font-family: ReadexPro Regular;
	padding: 0px;
	margin: 0px;
	box-sizing:border-box;
}

header{
	padding: 8px 12px 12px 12px;
	display: flex;
	background-color: #F6FEFF;
}

nav{
	width: 1280px;
	align-self: flex-end;
	
}

.navPaginaCarrusel{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style: none;
	background-color: #F6FEFF;
	font-style: normal;
	font-size: 12px;
	color: #43878D;
	margin: -40px 0px 0px 0px;
}

li{
	padding: 0px 15px;
}

a {
	text-decoration: none;
	color: #F6FEFF;
}

#IniciarSesion{
	background: #81B214;
	padding: 8px 8px 8px 20px;
	margin:0px 10px 0px 20px;
	width: 120px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
	border-radius: 40px;	
}

#Registrarme{
	padding: 8px 8px 8px 25px;
	margin:0px 10px;
	width: 120px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
	border-radius: 40px;
	background-color: #43878D;
}

#ConteElementosCarrusel{
	height: 425px;
	overflow: hidden;
}

.elementoCarrusel{
	height: 100%;
	position: relative;
}

.imagenCarrusel{
	display: flex;
	justify-content: center;
	align-content: center;
	padding: 200px;
}


.flechasCarrusel{
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
}

#imagenCarrusel-1{
	background-image: url("Imagenes/carrusel-fondo-1.jpg");
	background-repeat: no-repeat;
}

#imagenCarrusel-2{
	background-image: url("Imagenes/carrusel-fondo-2.jpg");
	background-repeat: no-repeat;
}

#imagenCarrusel-3{
 	background-image: url("Imagenes/carrusel-fondo-3.jpg");
	background-repeat: no-repeat;
}

#imagenCarrusel-4{
 	background-image: url("Imagenes/carrusel-fondo-4.jpg");
	background-repeat: no-repeat;
}

#iconocarrusel1 {
	margin: -70px 0px 0px 0px;
}

#iconocarrusel2 {
	margin: -70px -18px 0px -50px;
}

#iconocarrusel3 {
	margin: -70px -6px  0px -30px;
}

#iconocarrusel4 {
	margin: -70px 0px 0px -25px;
}

.elementoCarrusel{
	color: #F6FEFF;
	display: flex;
	flex-direction: column;	
}

.TextoIconos{
	margin-left: 40px;
	width: 520px;
	display: flex;
	flex-direction: column;
}

.TitulosCarrusel{
	font-size: 38px;
	margin: -52px 0px 20px 0px;
	width: 500px;
	line-height: 41px;
}

#descubrelospuntos {
	font-size: 38px;
	margin: -52px 0px 20px 0px;
	width: 400px;
	line-height: 41px;
}

p{
	font-size: 15px;
}

#CrearCuentaCarrusel{
	color: #F6FEFF;
	background: #81B214;
	width: 150px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
	border-radius: 40px;
	padding: 10px 10px 10px 30px;
	margin: 80px 175px 0px 0px;
	align-self: center;
	font-size: 15px;	
}

#ContenedorPuntos {
	display: flex;
	justify-content: center;
	
}

#ContenedorPuntos a{
	font-size: 15px;
	padding: 8px 10px 8px 10px;
	color: #81B214;
}

footer {
	width: 1278px;
	background-color:rgba(129, 178, 20, 1);
	padding-top: 9px;
	font-size: 12px;
}	

.elementosFooter{
	display: flex;
}

.Textoslegales{
	display: flex;
	list-style: none;
	color: #F6FEFF;	
}	

.iconosfooter {
	align-self: flex-end;
	margin: -2px 0px 2px 640px;
}