@charset "utf-8";
/* CSS Document */

/* -------------fuentes------------- */

@font-face {
	font-family: "ReadexPro Regular";
	src:url("Font/ReadexPro-Regular.ttf")
}

@font-face {
	font-family: "ReadexPro Bold"; src:url("font/ReadexPro-Bold.ttf")
}

@font-face {
	font-family: "ReadexPro Semibold"; src:url("font/ReadexPro-SemiBold.ttf")
}

@font-face {
	font-family: "ReadexPro Medium"; src:url("font/ReadexPro-Medium.ttf")
}

@font-face {
	font-family: "ReadexPro Light"; src:url("font/ReadexPro-Light.ttf")
}

/* -------------carrusel------------- */

.navcarrusel{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style: none;
	background-color: #F6FEFF;
	font-style: normal;
	font-size: 12px;
	color: #43878D;
	margin-bottom: 8px;
}

#registrarme a {
	color: #F6FEFF !important;
}

#iniciarsesion a {
	color: #F6FEFF !important;
}

#iniciarsesion:hover{
	background-color: #0F4104;
}

#registrarme:hover{
	background-color: #032B2E;
}

#iniciarsesion{
	background: #81B214;
	padding: 8px 8px 8px 20px;
	margin:0px 10px 0px 20px;
	width: 90px;
	box-shadow: 0px 3px 6px #0F4104;
	border-radius: 40px;	
	transition: background-color .5s;
}

#registrarme{
	padding: 8px 8px 8px 25px;
	margin:0px 10px;
	width: 90px;
	box-shadow: 0px 3px 6px #032B2E;
	border-radius: 40px;
	background-color: #43878D;
	transition: background-color .5s;
}

.slider{
	width: 100%;
	overflow: hidden;
}

.slider ul{
	display: flex;
	padding: 0;
	width: 400%;
	animation: cambio 45s infinite alternate ease-in;
}

.slider li{
	width: 100%;
	list-style:none;
}

.slider img{
	width: 100%;
}

@keyframes cambio{
	0%{margin-left:0;}
	20%{margin-left:0;}
	
	25%{margin-left:-100%;}
	45%{margin-left:-100%;}
	
	50%{margin-left:-200%;}
	70%{margin-left:-200%;}
	
	75%{margin-left:-300%;}
	100%{margin-left:-300%;}	
}

#ContenedorPuntos {
	display: flex;
	justify-content: center;	
}

#ContenedorPuntos a:hover{
	color: #0F4104;
}

#ContenedorPuntos a{
	font-size: 15px;
	padding: 2px 10px;
	color: #81B214;
}

/* -------------general------------- */

* {
	font-family: ReadexPro Regular;
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #F6FEFF;
}

header{
	padding: 8px 12px 0px 12px;
	display: flex;
	background-color: #F6FEFF;
	border-bottom: solid;
	border-bottom-color: #43878D;
	border-bottom-width: thin;
}

nav{
	width: 100%;
	align-self: flex-end;	
}

.navpaginacarrusel{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style: none;
	background-color: #F6FEFF;
	font-style: normal;
	font-size: 12px;
	color: #43878D;
	margin: -40px 0px 0px 0px;
}

.titulogrande {
	font-size: 45px;
	color: #F6FEFF;
}

.flechatras {
	margin: 0px 0px 0px 10px;
}

/* -------------inicio de sesión------------- */

#fondobody{
	background-image: url(img/fondoinicio.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.inputinicio {
	border: 2px solid #43878D;
	border-radius: 40px;
	width: 350px;
	height: 25px;
	padding-left: 10px;
	background-color: #F6FEFF;
	margin-bottom: 8px;
}

.labelinicio {
	color: #81B214;
	font-size: 12px;
	line-height: 25px;
	margin-left: -8px;
}

li {
	list-style: none;
	padding: 0px 15px;
}

.textochico {
	font-size: 12px;
	line-height: 20px;
	color: #81B214;
	margin: -5px 0px 60px -8px;
}

::placeholder{
	color: #81B214;
	font-size: 12px;
	opacity: 50%;
	background-color: #F6FEFF;
}

.inicio {
	display: flex;
	justify-content: space-between;
	height: 100vh;
}

.empezareciclar {
	display: flex;
	flex-direction: column;
	justify-content: inherit;
	margin-left: 60px;
	height: 65vh;
	margin-top: 100px;
}

#logo {
	display: flex;
	align-self: center;
}

.formulario {
	display: flex;
	flex-direction: column;
	margin: 100px 70px 0px 0px;
	justify-content: inherit;
	height: 65vh;
}

.formcrear {
	display: flex;
	flex-direction: column;
}

a {
	text-decoration: none;
	color: #43878D;
}

#botoniniciosesion:hover{
	background-color: #0F4104;
}

#botoniniciosesion {
	text-decoration:  none;
	background: #81B214;
	box-shadow: 0px 3px 6px #0F4104;
	border-radius: 45px;
	border: none;
	font-size: 15px;
	color: #F6FEFF;
	margin-left: 75px;
	padding: 15px 50px 15px 60px;
	transition: background-color .5s;
}

#botoncrearcuenta:hover{
	background-color: #0F4104;
}

#botoncrearcuenta {
	width: 95px;
	text-decoration:  none;
	background: #81B214;
	box-shadow: 0px 3px 6px #0F4104;
	border-radius: 45px;
	font-size: 15px;
	color: #F6FEFF;
	margin-left: 85px;
	margin-top: 50px;
	padding: 15px 60px 15px 60px;
	transition: background-color .5s;
}

.notenesuna {
	display: flex;
	justify-content: center;
	margin: 30px 10px 80px 15px;
}


#createuna {
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: #43878D;
	margin: -5px 0px 0px -25px;
}

/* -------------tips------------- */

.tipscocina{
	display: flex;
	justify-content: center;
}

#tipshigiene p{
	color: #43878D;
	font-style: bold;
	display: flex;
	justify-content: center;
}

#titulotips{
	display: flex;
	justify-content: center;
	font-size: 36px;
	color: #81B214;
	margin: 70px 20px 50px 20px;
}

#titulogrande{
	display: flex;
	justify-content: center;
	padding-bottom: 30px;
	padding-top: 10px;
	font-size: 50px;
	color: #43878D;
}

#contenedorcarrusel{
	height: 350px;
	overflow: hidden; 
	width: 100%;	
}

#headergaleria{
	position: relative;
}

.flechahome{
	position: absolute;
	top:12%;
	left: 20px;
}

.flechascarrusel{
	height: 100%;
	position: absolute;
	top:0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.flechad{
	padding-right: 350px;
}

.flechai{
	padding-left: 350px;
}

.tarjetacarrusel{
	display: flex;
	justify-content: center;
}

.itemcarrusel{
	height: 350px;
	position: relative;
}

/* -------------form------------- */

#bodyform {
	background-image: url("img/fondoformulario.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

#botonerafoto {
	width: 100%;
	text-align: center;
}

#botoncompartitufoto {
	text-decoration:  none;
	width: 120px;
	background: #81B214;
	box-shadow: 0px 3px 6px #0F4104;
	border-radius: 45px;
	font-size: 15px;
	color: #F6FEFF;
	padding: 15px 60px 15px 60px;
	transition: background-color .5s;
	display: inline-block;
}

#botoncompartitufoto:hover{
	background-color: #0F4104;
}


.formcontacto {
	background-color: #F6FEFF;
	width: 50%;
	height: auto;
	margin: 0 auto;
	border: 3px solid #43878D;
	border-radius: 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 15px;
}

input:focus-within {
	background-color: #A1C3C6;
	color: #032B2E;
	border-color: #032B2E;
}

form div{
	width: 45%;
	height: auto;
	padding: 10px;	
}

.inputcontacto {
	width: 100%;
	height: 30px;
	border: 2px solid #43878D;
	border-radius: 40px;
	padding-left: 10px;
	background-color: #F6FEFF;
	margin-bottom: 8px;
}

input[type="file"] {
    color: #81B214;
	opacity: 60%;
	font-size: 12px;
	background-color: #F6FEFF;
	padding-top: 08px;
}

input[type="file"]:focus-within {
	background-color: #A1C3C6;
	color: #032B2E;
	border-color: #032B2E;
}

textarea{
	border: 2px solid #43878D;
	display: flex;
	flex-direction: column;
	width: 90%;
	height: 80%;
	border-radius: 20px;
	padding: 10px;
}

textarea:focus-within {
	background-color: #A1C3C6;
	color: #032B2E;
	border-color: #032B2E;
}

.labelcontacto {
	display: block;
	height: 25px;
	padding-top: 10px; 
	color: #81B214;
	font-size: 12px;
	line-height: 25px;
	margin-left: 5px;
}

/* -------------página principal------------- */

#presentacion{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-content: center;
}

#presentacioniconos{
	display: flex;
	justify-content: center;
	position: relative;
}

#presentacion img{
	position: absolute;
}

#presentacion p{
	position:relative;
	font-family: "ReadexPro Bold";
	font-size:1.5em;
	color: #F6FEFF;
	width: 500px;
	margin:50px 10px 190px;
	text-align: center;	
}

/* -------------tips central------------- */

.tipscentral{
	display: flex;
	justify-content: center;
	margin: auto 20px;
}


h3{
	font-size: 18px;
	color: #81B214;
	text-align: center;
}

.caja{
	width:100%;
	height:auto;
	margin:12px;
}

.caja figure{
	position: relative;
	width:100%;
	height: auto;
	overflow: hidden;
	cursor: pointer;
}

.caja figure img{
	width: 100%;
	height: 100%;
	transition: all 500ms ease-out;
}

.caja figure .imagenaparece{
	position: absolute;
	top: 0;
	width: 100%;
	height:auto;
	transition: all 500ms ease-out;
	opacity: 0;
	visibility: hidden;
}

.caja figure:hover > .imagenaparece{
	opacity: 1;
	visibility: visible;
}
.tipshigiene{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin:20px;
}
.trestips{
	display: flex;
	width: 70%;
	margin: 10px;
	
}
.contenedor{
	width: 1280px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 100%;
	margin: auto 10px;
}

.contenedor figure{
	position: relative;
	height: 230px;
	width:250px;
	overflow: hidden;
	cursor: pointer;
}

.contenedor figure img{
	width: 100%;
	height: 100%;
	transition: all 500ms ease-out;
}

.contenedor figure .capa{
	position: absolute;
	top: 0;
	width: 100%;
	height:100%;
	background: #43878D;
	transition: all 500ms ease-out;
	opacity: 0;
	visibility: hidden;
	text-align: center;
}

.contenedor figure:hover > .capa{
	opacity: 1;
	visibility: visible;
}

.contenedor figure .capa p{
	color: #F6FEFF;
	font-size: 15px;
	padding: 10px;
	display: flex;
	align-items: center;
}

/* -------------mapa------------- */

iframe {
	border-radius: 25px;
	width: 75%;
	height: 380px;
	display: block;
	margin: 30px auto;
}

/* -------------beneficios------------- */

#mainbeneficios {
	justify-content: center;
	width: 70%;
	margin: 0 auto;
}

.perfilusuario {
	display: flex;
	margin-bottom: 20px;
	justify-content: flex-start;
	margin-top: 40px;
}

.soloperfil {
	display: flex;
	width: 40%;
}

.nombreusuario {
	display: flex;
	flex-direction: column;
	margin-top: 15px;
	color: #43878D;
	margin-right: 5%;
}

.estadisticas {
	font-size: 13px;
	line-height: 16px;
}

.h4beneficios {
	color: #43878D !important;
	text-align: start;
	margin-left: 15px;
	margin-bottom: 10px;
	font-size: 16px;
}

.h4objetivos {
	color: #F6FEFF;
	text-align: left;
	margin-left: 15px;
	margin-bottom: 2%;
	font-size: 16px;
}

.objetivos {
	background-color: #81B214;
	border-radius: 40px;
	padding: 17px 5px 25px 15px;
	color: #F6FEFF;
	width: 50%;
}

.objetivosdenivel {
	font-size: 13px;
	line-height: 16px;
}

.beneficiosactuales {
	display: flex;
	justify-content: flex-start;
	margin-top: 2%;
	margin-bottom: 3%;
}

.fotocirculo {
	filter: drop-shadow(0px 5px 3px rgba(15, 65, 4, 0.35));
}

.beneficio {
	margin-right: 10%;
	margin-left: 1%;
}

.h4descuentospornivel {
	color: #43878D;
	margin-top: 3%;
	justify-content: flex-start;
	font-size: 16px;
	margin-left: 1%;
}

.porcentaje {
	text-align: center;
	font-size: 12px;
	color: #43878D;
	margin-top: 3px;
}

.bloqueproximos {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 1%;
	color: #43878D;
}

.proximo1 {
	display: flex;
	width: 90%;
	justify-content: space-between;
	border: 1px solid #43878D;
	border-radius: 20px 20px 0px 0px;
	padding: 2%;
}

.proximo2 {
	display: flex;
	width: 90%;
	justify-content: space-between;
	border: 1px solid #43878D;
	padding: 2%;
}

.proximo3 {
	display: flex;
	width: 90%;
	justify-content: space-between;
	border: 1px solid #43878D;
	padding: 2%;
	border-radius: 0px 0px 20px 20px;
}

.proxcandado {
	display: flex;
	flex-direction: row;
}

.candado {
	margin-right: 15px;
}

.inputescanear[type="file"] {
    display: none;
}

.escanear {
	display: grid;
	justify-items: flex-start;
	margin-top: 3%;
	margin-bottom: 4%;
}

.labelescanear {
	text-decoration:  none;
	background: #81B214;
	box-shadow: 0px 3px 6px #0F4104;
	border-radius: 45px;
	border: none;
	font-size: 15px;
	color: #F6FEFF;
	display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
	transition: background-color .5s;
}

.labelescanear:hover {
	background-color: #0F4104;
}

.inputsubirfotoperfil[type="file"] {
    display: none;
}

.labelsubirfotoperfil {
	cursor: pointer;
}

/* -------------footer------------- */

footer {
	width: 100%;
	background-color: #81B214;
	padding-top: 9px;
	font-size: 12px;
	display: flex;
	justify-content: space-between;
	position: absolute;
	bottom: 0 !important;
}	

.textoslegales{
	display: flex;
	list-style: none;
	color: #F6FEFF;	
	margin-left: 15px;
}	

.iconosfooter {
	margin: -2px 25px 2px 10px;
}

/* -------------cierre------------- */