@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: "ReadexPro Regular";
	src:url("Font/ReadexPro-Regular.ttf")
}

*{
	font-family: ReadexPro Regular;
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

header{
	padding: 15px 12px 12px 25px;
	display: flex;
	background-color: #F6FEFF;
}

nav{
	width: 100%;
	align-self: flex-end;
}

.navpaginacarrusel{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style: none;
	background-color: #F6FEFF;
	font-style: normal;
	font-size: 12px;
	color: #43878D;
	margin-bottom: 8px;
}

li{
	padding: 0px 15px;
}

a {
	text-decoration: none;
	color: #F6FEFF;
}

#iniciarsesion:hover{
	background-color: #0F4104;
}

#registrarme:hover{
	background-color: #032B2E;
}

#iniciarsesion{
	background: #81B214;
	padding: 8px 8px 8px 20px;
	margin:0px 10px 0px 20px;
	width: 120px;
	box-shadow: 0px 3px 6px #0F4104;
	border-radius: 40px;	
	transition: background-color .5s;
}

#registrarme{
	padding: 8px 8px 8px 25px;
	margin:0px 10px;
	width: 120px;
	box-shadow: 0px 3px 6px #032B2E;
	border-radius: 40px;
	background-color: #43878D;
	transition: background-color .5s;
}

.slider{
	width: 100%;
	overflow: hidden;
}

.slider ul{
	display: flex;
	padding: 0;
	width: 400%;
<<<<<<< HEAD
	animation: cambio 45s infinite alternate ease-in;
=======
	
	animation: cambio 32s infinite alternate ease-in ;
>>>>>>> origin/main
}

.slider li{
	width: 100%;
	list-style:none;
}

.slider img{
	width: 100%;
}

@keyframes cambio{
	0%{margin-left:0;}
	20%{margin-left:0;}
	
	25%{margin-left:-100%;}
	45%{margin-left:-100%;}
	
	50%{margin-left:-200%;}
	70%{margin-left:-200%;}
	
	75%{margin-left:-300%;}
	100%{margin-left:-300%;}	
}

/*#ConteElementosCarrusel{
	width:100%;
	height: 425px;
	overflow: hidden;
	background-size: cover;	
	scroll-behavior: smooth;
}

.elementoCarrusel{
	position: relative;		
}

.imagenCarrusel{
	display: flex;
	justify-content: center;
	align-content: center;
	padding: 200px;
}


.flechasCarrusel{
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	z-index: 0;	
}

#FlechasElemento-4{
	margin-top: -35px;
}

#imagenCarrusel-1{
	background-image: url("Imagenes/carrusel-fondo-1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

#imagenCarrusel-2{
	background-image: url("Imagenes/carrusel-fondo-2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

#imagenCarrusel-3{
 	background-image: url("Imagenes/carrusel-fondo-3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

#imagenCarrusel-4{
 	background-image: url("Imagenes/carrusel-fondo-4.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

#iconocarrusel1 {
	margin: -70px 0px 0px 0px;
}

#iconocarrusel2 {
	margin: -70px -18px 0px -50px;
}

#iconocarrusel3 {
	margin: -70px -6px  0px -30px;
}

#iconocarrusel4 {
	margin: -70px 0px 0px -25px;
}

.elementoCarrusel{
	color: #F6FEFF;
	display: flex;
	flex-direction: column;	
}

.TextoIconos{
	margin-left: 40px;
	width: 520px;
	display: flex;
	flex-direction: column;
}

.TitulosCarrusel{
	font-size: 38px;
	margin: -52px 0px 20px 0px;
	width: 500px;
	line-height: 41px;
}

#descubrelospuntos {
	font-size: 38px;
	margin: -52px 0px 20px 0px;
	width: 400px;
	line-height: 41px;
}

p{
	font-size: 15px;
}

#crearcuentacarrusel:hover{
	background-color: #0F4104;
}

#crearcuentacarrusel{
	color: #F6FEFF;
	background: #81B214;
	width: 150px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
	border-radius: 40px;
	padding: 10px 10px 10px 30px;
	margin: 50px 175px 0px 0px;
	align-self: center;
	font-size: 15px;
	z-index: 10;
	transition: background-color .5s;
}

#ContenedorPuntos {
	display: flex;
	justify-content: center;	
}

#ContenedorPuntos a:hover{
	color: #0F4104;
}

#ContenedorPuntos a{
	font-size: 15px;
	padding: 8px 10px 8px 10px;
	color: #81B214;
}
*/

footer {
	width: 100%;
	background-color: #81B214;
	padding-top: 9px;
	font-size: 12px;
	display: flex;
	justify-content: space-between;
	/*position: absolute;
	bottom: 0;
*/
}	

.textoslegales{
	display: flex;
	list-style: none;
	color: #F6FEFF;	
	margin-left: 15px;
}	

.iconosfooter {
	margin: -2px 25px 2px 10px;
}