@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: "ReadexPro Regular";
	src:url("Font/ReadexPro-Regular.ttf")
}

* {
	font-family: ReadexPro Regular;
}

body {
	background-image: url("Imagenes/FondoIS.jpg");
}

input {
	border: 2px solid #43878D;
	border-radius: 40px;
	width: 350px;
	height: 35px;
	padding-left: 10px;
	background-color: #DEE8E9;
}

label {
	color: #81B214;
	font-size: 15px;
	line-height: 25px;
}

li {
	list-style: none;
}

.textochico {
	font-size: 12px;
	line-height: 20px;
	color: #81B214;
}
#createuna {
	font-size: 12px;
	line-height: 20px;
	color: #43878D;
}

.notenesuna {
	display: flex;
	justify-content:center
}

h1 {
	font-size: 45px;
	line-height: 60px;
	color: #DEE8E9;
	margin: 0px 300px 20px -10px;
}

#botoninicio {
	background: #81B214;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
	border-radius: 40px;
	border: none;
	width: 250px;
	height: 50px;
	font-size: 15px;
	color: #DEE8E9;
	margin: 15px -30px 0px 120px;
}

footer {
	font-size: 14px;
	width: 768px;
	height: 28px;
	background-color: #81B214;
	padding: 10px;
	color: #DEE8E9;
	position: absolute;
}

#legales {
	display: inline;
	flex-direction: row;
	background: none;
}

::placeholder{
	color: #81B214;
	font-size: 12px;
	opacity: 50%;
	background-color: #DEE8E9;
}

.inicio {
	display: flex;
	justify-content: space-between;
	padding: 40px 5% 40px 5%;
	height: 600px;
}

.empezareciclar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

aside {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}