@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: "ReadexPro Regular";
	src:url("Font/ReadexPro-Regular.ttf")
}

* {
	font-family: ReadexPro Regular;
	margin: 0px;
	padding: 0px;
}

body {
	background-image: url("Imagenes/FondoIScopia.jpg");
}

h1 {
	font-size: 45px;
	color: #DEE8E9;
	margin: 300px 400px 20px 10px;
}

.flechatras {
	margin: 0px 0px 0px 10px;
}

input {
	border: 2px solid #43878D;
	border-radius: 40px;
	width: 350px;
	height: 35px;
	padding-left: 10px;
	background-color: #DEE8E9;
	margin: 0px 0px 30px 0px;
}

label {
	color: #81B214;
	font-size: 15px;
	line-height: 25px;
	margin: 0px 0px 0px 10px;
}

li {
	list-style: none;
}

.textochico {
	font-size: 12px;
	line-height: 20px;
	color: #81B214;
}

::placeholder{
	color: #81B214;
	font-size: 12px;
	opacity: 50%;
	background-color: #DEE8E9;
}

.inicio {
	display: flex;
	justify-content: space-between;
	padding: 40px 30px 20px 30px;
	height: 473px;
}

.textochico {
	margin: -28px 0px 60px 10px;
}

#logo {
	margin: 0px 0px 50px 80px;
}

aside {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 20px 45px 100px 0px;
}

a {
	text-decoration:  none;
	background: #81B214;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
	border-radius: 45px;
	font-size: 15px;
	color: #DEE8E9;
	margin: 820px 70px 120px 75px;
	padding: 15px 60px 15px 60px;
}

.notenesuna {
	display: flex;
	justify-content:center;
	margin: 50px 40px 0px 35px;
}

#createuna {
	font-size: 12px;
	line-height: 20px;
	color: #43878D;
	margin: -28px 0px 0px 5px;
}

footer {
	width: 763px;
	background-color:#81B214;
	padding: 15px 20px 0px 0px;
	font-size: 12px;
}	

.elementosFooter{
	display: flex;
}

.Textoslegales{
	display: flex;
	list-style: none;
	color: rgba(255, 255, 255, 1);
	font-style: normal;
	font-weight: 300;		
}	

.IconosRedes{
	align-self: flex-end;
}
